@mixin trans {
    transition: all 0.3s ease;
}

@mixin trans-fast {
    transition: all 0.15s ease;
}

@mixin trans-slow {
    transition: all 0.45s ease;
}

@mixin minWidth($value) {
    @media (min-width: $value) {
        @content;
    }
}

@mixin maxWidth($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin minmaxWidth($value1, $value2) {
    @media (min-width: $value1) and (max-width: $value2) {
        @content;
    }
}