@for $i from 0 through 40 {
    .fs-#{$i} {
        font-size: #{$i}px;
    }
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--text-primary);
}

h1,
.h1 {
    font-size: 32px;
    line-height: 40px;
}

h2,
.h2 {
    font-size: 24px;
    line-height: 28px;

    @include minWidth(567px) {
        // font-size: 20px;
    }
}

h3,
.h3 {
    font-size: 18px;
    line-height: 24px;

    @include minWidth(567px) {
        // font-size: 16px;
    }
}

h4,
.h4 {
    font-size: 16px;
    line-height: 22px;

    @include minWidth(567px) {
        font-size: 16px;
    }
}

h5,
.h5 {
    font-size: 14px;
    line-height: 22px;

    @include minWidth(567px) {
        font-size: 14px;
    }
}

h6,
.h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--on-text-primary);
}

p,
.p,
.p_1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--on-text-primary);
}

.p_1 {
    font-size: 12px;
    line-height: 14px;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}